*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(124.53deg, #FC3F5F 0%, #7D61FF 100.32%);
    font-family: 'Poppins', sans-serif;
    padding: 95px;
    background-repeat: repeat-y;
}

.container {
    max-width: 1410px;
    width: 100%;
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    margin-inline: auto;
}

/*header block*/
.header {
    padding: 35px 32px;
    display: flex;
    justify-content: space-between; 
}

.header__logo {
    min-width: 180px;
}

.header__nav ul {
    display: flex;
    gap: 64px;
    padding-left: 0;
    text-align: center;
}

.header__nav li {
    list-style: none;
}

.header__nav a {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #A0A3A7;
    list-style: none;
    transition: 0.2s all ease-in-out;
}

.header__nav a:hover {
    text-decoration: underline;
}

.header__btn {
    display: inline-block;
    min-width: 180px;
    padding: 16px 24px;
    background: #E1E1E1;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #24282E;
    transition: .2s all ease-in-out;
}

.header__btn:hover {
    background: #333;
    color: #FFF
}
/*header end*/

/*main block*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 20px 161px 20px;
    max-width: 1410px;
    width: 100%;
}

.maintext {
    max-width: 598px;
    width: 100%;
    margin: 0;
    margin-inline: auto;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    text-align: center;
    color: #F2F4F7;
    margin-bottom: 32px;
    transition: .2s all ease-in-out;
}

.maintext:hover {
    color: orange;
}

.secondary-text {
    max-width: 598px;
    width: 100%;
    margin: 0;
    margin-inline: auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #F2F4F7;
    margin-bottom: 80px;
}

.link {
    max-width: 239px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border: 2px solid #FC40F4;
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    color: #FC40F4;
    text-decoration: none;
    padding: 16px 94px;
    margin-bottom: 96px;
    transition: 0.2s all ease-in-out;
}

.link:hover {
    transform: translateY(-10px);
}

.loading-animation {
    display: flex;
    gap: 32px;
    padding: 16px;
    justify-content: center;
}
/*main end*/

.header .material-symbols-outlined {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 32px;
}

input {
    display: none;
}

label {
    display: none;
}

@media (max-width:990px) {
    .header__download {
        display:none;
    }
    .main {
        padding-top: 50px;
    }
    .maintext {
        font-size: 32px;
        line-height: 36px;
    }
    .secondary-text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width:720px) {
    body {
        padding: 20px;
    }
    .header .material-symbols-outlined {
        display: block;
    }
    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
        background: #333;
        transform: translateX(-200%);
        text-align: center;
        padding-top: 100px;
        transition: .3s all ease-in-out;
    }
    .header__nav ul {
        flex-direction: column;
    }
    input:checked .header__nav {
        transform: translateX(0);
    }
}